<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=oswpetrftollstorage;AccountKey=Flk0Z/xKtwEcRt0zOxTHIUGGg/Iac/lFAFV4YJs+LMl4NUi7gQclgqSt3OR7WloJrmDicCHE7Eb8QqNX2u4+SA==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>